/* If something is hard to do with TailWind we can do regular css in here */
/* Ice breaker knoppen */
.blocks{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  display: block;
  text-align: center;
  background: #F0E6C2;   
  color: #000;    
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  padding: 40px 100px;  
  border-radius: 20px; 
}

/* Questions */
#question-list{
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  align-items: center;
}
.question-card {
    background-color: #F0E6C2;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    font-size: 18px;
    width: 100%;
}

#questions-list > ul{
    width: 40%;
}

